<h1>Characters</h1>

<div>
    <% @characters["results"].each do |character| %>
        <div> <%= character["name"] %> </div><br/>
        <div> <%= character["height"] %> </div><br/>
        <div> <%= character["mass"] %> </div><br/>
        <div> <%= character["hair_color"] %> </div><br/>
        <div> <%= character["homeworld"] %> </div><br/>
        <div> <%= character["films"] %> </div><br/>
    <% end %>
</div>